@{
    var rssIconUrl = Href("~/Themes/TheOtherSideOfCode/Content/Images/icon-rss-64.png");
	var feedUrl = Href("~/rss?containerid=16");
    var twitterIconUrl = Href("~/Themes/TheOtherSideOfCode/Content/Images/icon-twitter-64.png");
    var twitterUrl = "http://twitter.com/tomislavcapan/";
    var linkedinIconUrl = Href("~/Themes/TheOtherSideOfCode/Content/Images/icon-linkedin-64.png");
    var linkedinUrl = "http://linkedin.com/in/tomislavcapan/";
    var facebookIconUrl = Href("~/Themes/TheOtherSideOfCode/Content/Images/icon-facebook-64.png");
    var facebookUrl = "http://facebook.com/pages/TheOtherSideOfCode/";
}

<div id="about">
	<h4>About me</h4>
	<p>There goes some kind of info about me. It should be implemented
	throught CMS content and injected here, as opposed to a static text
	right now. Image should be supported too.
</div>
<div id="social">
	<h4>Connect</h4>
	@T("<a href=\"{0}\" rel=\"external\"><img src=\"{1}\" alt=\"feed\"/></a>", feedUrl, rssIconUrl)
	@T("<a href=\"{0}\" rel=\"external\"><img src=\"{1}\" alt=\"twitter\"/></a>", twitterUrl, twitterIconUrl)
	@T("<a href=\"{0}\" rel=\"external\"><img src=\"{1}\" alt=\"linkedin\"/></a>", linkedinUrl, linkedinIconUrl)
	@T("<a href=\"{0}\" rel=\"external\"><img src=\"{1}\" alt=\"facebook\"/></a>", facebookUrl, facebookIconUrl)
</div>
<!-- SETTINGS for SHORT/LONG BUTTONS via some module -->
<!-- div id="social-long">
	<h4>Connect</h4>
	<p class="social" id="social-rss">
		@T("<a href=\"{0}\" rel=\"external\"><img src=\"{1}\" alt=\"feed\"/></a>", feedUrl, rssIconUrl)
		@T("<a class=\"text\" href=\"{0}\" rel=\"external\">Subscribe to RSS feed</a>", feedUrl)
	</p>
	<p class="social" id="social-twitter">
		@T("<a href=\"{0}\" rel=\"external\"><img src=\"{1}\" alt=\"twitter\"/></a>", twitterUrl, twitterIconUrl)
		@T("<a class=\"text\" href=\"{0}\" rel=\"external\">Follow me on Twitter</a>", twitterUrl)
	</p>
	<p class="social" id="social-linkedin">
		@T("<a href=\"{0}\" rel=\"external\"><img src=\"{1}\" alt=\"linkedin\"/></a>", linkedinUrl, linkedinIconUrl)
		@T("<a class=\"text\" href=\"{0}\" rel=\"external\">Professional details on LinkedIn</a>", linkedinUrl)
	</p>
	<p>? FB Like box ?</p>
</div -->
<div>
	<h4>FB-Box</h4>
	<p>? FB Like box ?</p>
</div>
<div>
	<h4>Misc</h4>
	<p>Some kind of side-menu? Taxonomy? Archive?</p>
</div>
